nav{
    margin-top: 1px;
    background-color: #fff;
    width: 150px;
    height: 600px;
    display: flex;
}
ul{
    padding: 0px;
    display: flex;
    list-style-type: none;
    flex-direction: column;

}
ul li{
    color: black;
    margin: 6px;
    
}
ul li:hover{
    border-left: 5px solid blueviolet;
    color: blueviolet;
}